<header class="header-area overlay">
    <nav class="navbar navbar-expand-md navbar-dark">
        <div class="container">
            <a href="/" class="navbar-brand">Sunny Blog</a>

            <button type="button" class="navbar-toggler collapsed" data-toggle="collapse" data-target="#main-nav">
                <span class="menu-icon-bar"></span>
                <span class="menu-icon-bar"></span>
                <span class="menu-icon-bar"></span>
            </button>

            <div id="main-nav" class="collapse navbar-collapse">
                <ul class="navbar-nav ml-auto">
                    {% if current_user.is_authenticated %}
                    <li><a href="{{url_for('main.profile',uname=current_user.username)}}" class="nav-item nav-link" style="margin-left: 5em;">{{ current_user.username| capitalize }}</a></li>
                    <li><a href="/new_post" class="nav-item nav-link">Post</a></li>
                    <li><a href="{{url_for('auth.logout')}}" class="nav-item nav-link">Sign Out</a></li>
                    {% else %}
                    <li><a href="{{url_for('auth.login')}}" class="nav-item nav-link" style="margin-left: 170px;">Log In</a></li>
                    <li><a href="{{url_for('auth.register')}}" class="nav-item nav-link">Sign up</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>